@model Voting.Web.Data.Entities.Events

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Events</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Decription)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Decription)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.StarDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.StarDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.EndDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EndDate)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
